---
import BaseLayout from "@layouts/base.astro";
import { Image } from "astro:assets";
import underConstructionImage from "@images/hedgehog-working.png";
---

<BaseLayout title="Under Construction">
  <div class="max-w-2xl mx-auto px-4 py-8 text-center">
    <Image
      src={underConstructionImage}
      alt="A hedgehog working on a construction site"
      class="mx-auto mb-6 w-xs sm:w-sm h-auto rounded"
    />
    <h1 class="text-4xl font-bold mb-4">Under Construction</h1>
    <p class="text-xl mb-6">
      This page is currently being built. Please check back later!
    </p>
    <a
      href="/"
      class:list={[
        "inline-block",
        "px-6 py-3",
        " bg-icn-primary-1 hover:bg-icn-primary-2",
        "text-ln-light-1 ",
        "rounded transition-colors",
      ]}
    >
      Go Back Home
    </a>
  </div>
</BaseLayout>
