@use "@styles/scss/variables" as vars;
@use "@styles/scss/mixins" as mix;

.footer {
  background-color: var(--bs-footer-bg);
  padding: vars.$spacer * 2 0;
  margin-top: vars.$spacer * 3;
  border-top: vars.$border-width solid var(--bs-border-color);
  text-align: center;
  font-size: 0.9rem;

  &-made-with {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0.5rem 0;

    .flag-icon {
      height: 0.8rem;
      width: auto;
    }
  }
}
