---
permalink: /blog/search-index.json
---
[
  {% for post in collections.blogPosts %}
  {
    "title": "{{ post.data.title | safe }}",
    "url": "{{ post.url | url }}",
    "date": "{{ post.date | dateFilter }}",
    "category": "{{ post.data.category }}",
    "tags": [
      {% for tag in post.data.tags %}
      "{{ tag }}"{% if not loop.last %},{% endif %}
  {% endfor %}
    ],
    "description": "{{ post.data.description | safe }}",
    "image": "{{ post.data.image | url }}",
    "content": "{{ post.templateContent | striptags | safe | truncate(500) | escape }}"
  }{% if not loop.last %},{% endif %}
{% endfor %}
]