// assets/scss/main.scss

// Import custom variables first
@use "./index" as *;
@use "./mixins" as mix;

//====================================// bootstrap
// @use "bootstrap/scss/bootstrap" with (
//   $font-family-base: $font-family-serif,
//   $font-family-sans-serif: $font-family-sans-serif,
//   $headings-font-family: $headings-font-family,
//   $enable-shadows: $enable-shadows,
//   $primary: $primary,
//   $secondary: $secondary,
//   $body-bg: $light-bg,
//   $body-color: $light-text
// );

// @use "bootstrap-overrides";
//====================================// components
@use "./components/header";
@use "./components/footer";
@use "./components/navigation";
@use "./components/custom-icons";
@use "./components/article-header";
//====================================// layout
@use "./layout/base";
@use "./layout/article";
//====================================// pages
@use "./pages/about" as about;
//@use "./pages/about/resume";
@use "./pages/blog" as blog;
//====================================// google fonts imports
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Code:wght@300..700&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Bokor&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
// @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Almendra+SC&family=Bokor&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

//====================================// base styles
body {
  @include mix.transition(background-color);
  @include mix.transition(color);
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include mix.heading-font;
  color: var(--bs-body-color);
}

a {
  color: var(--bs-link-color);
  text-decoration: none;

  &:hover {
    @include mix.transition(color);

    color: var(--bs-link-hover-color);
    text-decoration: none;
  }
}
