{% macro socialLinks(resume, extraClasses = '') %}
  <div class="social-links {{ extraClasses }}">
    <a href={{ resume.contact.links | getLink('LinkedIn') }} title="LinkedIn" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin social-icon"></i>
    </a>
    <a href={{ resume.contact.links | getLink('GitHub') }} title="GitHub" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github social-icon"></i>
    </a>
    <a href={{ resume.contact.links | getLink('Twitter') }} title="Twitter" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-twitter social-icon"></i>
    </a>
    <a href={{ resume.contact.links | getLink('Instagram') }} title="Instagram" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram social-icon"></i>
    </a>
    <a href="mailto:{{ resume.contact.email }}" title="Email me" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-envelope-fill social-icon"></i>
    </a>
    <a href={{ resume.contact.links | getLink('Website') }} title="My website" target="_blank" rel="noopener noreferrer">
      <i class="ci ci-hedgehog social-icon"></i>
    </a>
    <a href={{ resume.contact.links | getLink('Letterboxd') }} title="Letterboxd" target="_blank" rel="noopener noreferrer">
      <i class="ci ci-letterboxd social-icon"></i>
    </a>
  </div>
{% endmacro %}