// assets/scss/components/_navigation.scss
@use "../variables" as vars;
@use "../mixins" as mix;

.site-nav {
  .nav-link {
    color: var(--bs-body-color);
    font-family: vars.$font-family-sans-serif;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    @include mix.transition(color);

    &:hover {
      color: var(--bs-primary);
      text-decoration: none;
    }
  }

  @include mix.respond-above(md) {
    .nav-link {
      margin-left: 0.5rem;
    }
  }
}
