---
export interface Props {
  year: number;
}

const { year } = Astro.props;

import Icon from "@components/common/Icon.astro";
---

<footer class="w-full py-2 bg-sf-2 text-center mt-auto">
  <div class="container mx-auto">
    <p>&copy; {year} - Nathan</p>
    <p class="flex items-center justify-center gap-1">
      Built with love in the United States <Icon
        name="us-flag"
        size="0.9rem"
        variant="small"
      />
    </p>
    <div>
      <a
        class="hover:text-ln-primary-1 transition-colors"
        href="https://github.com/nathan-whitehead">GitHub</a
      > |
      <a
        class="hover:text-ln-primary-1 transition-colors"
        href="https://linkedin.com/in/nathan-whitehead0">LinkedIn</a
      > |
      <a
        class="hover:text-ln-primary-1 transition-colors"
        href="/about/contact/">Contact</a
      >
    </div>

    <slot />
  </div>
</footer>
