---
title: About
layout: layouts/base.njk
---

{% from "macros/social-links.njk" import socialLinks %}

{% block content %}
  <div class="about-container">
    <div class="about-header shadow-sm">
      <h1 class="display-4">About Me</h1>
      <img src="/assets/img/photos/nathan-whitehead-pfp.jpg" alt="Nathan Whitehead" class="profile-pic">
      <p class="lead">I'm an engineer based in Dallas, Texas.</p>
      {{ socialLinks(resume) }}
    </div>
    <div class="blog-article-content">
      <p class="text-center mb-4">
        <a href="/about/resume/" class="btn btn-primary text-bg-primary">View my full resume here.</a>
      </p>
      <div class="about-bio">
        <h2>Bio</h2>
        <p>I'm a software engineer with a strong background in web development and a keen interest in machine learning. I enjoy solving complex problems and building applications that make a difference.</p>
        <p>I have a degree in Industrial Engineering and am working on a Master's in Computer Science.</p>
      </div>

      <div class="about-personal">
        <h2>My story</h2>
        <div class="photo-grid mb-3">
          <img src="/assets/img/photos/nathan-baby.jpg" alt="Nathan as a baby" class="blog-image">
          <img src="/assets/img/photos/nathan-osu-grad.jpg" alt="Nathan at OSU graduation" class="blog-image">
          <img src="/assets/img/photos/nathan-grad-party.jpg" alt="Nathan at graduation party" class="blog-image">
          <img src="/assets/img/photos/okstate-library.jpg" alt="OSU library" class="blog-image">
        </div>
        <p>I was born in 2001 in Dallas, Texas, but I grew up in Edmond, Oklahoma. I graduated from Edmond Santa Fe High School in 2019
        and went on to study Industrial Engineering at Oklahoma State University. I graduated in 2023 with a Bachelor of Science in Industrial Engineering.</p>
        <div class="photo-grid">
          <img src="/assets/img/photos/psns-crew.jpg" alt="Nathan at PSNS" class="blog-image">
          <img src="/assets/img/photos/skipping-rocks-bremerton.jpg" alt="Nathan skipping rocks in Bremerton" class="blog-image">
          <img src="/assets/img/photos/psns-film.jpg" alt="PSNS Shipfitters building" class="blog-image">
          <img src="/assets/img/photos/seattle.jpg" alt="Seattle" class="blog-image">
        </div>
        <p>Following my graduation, I moved to Bremerton, Washington to work as an Industrial Engineer at Puget Sound Naval Shipyard. 
         There I gained valuable experience in the field, working on various projects and collaborating with talented professionals.</p>
        <p>In 2024, I made the decision to return to Dallas, Texas, where I am currently pursuing a Master's degree in Computer Science at the University of Texas at Dallas.</p>

        <h2>Hobbies</h2>
        <p>I love to travel and explore new places, especially hiking in the mountains and visiting new cities. 
          I also enjoy photography, capturing moments from my adventures and sharing them with friends and family. 
          Some of my photos can be found in the blog <a href="/blog/photos">under photos.</a>
        </p>
        <p>I also enjoy watching movies and playing video games. My movie diary can be found on <a href="{{ resume.contact.links | getLink('Letterboxd')}}" target="_blank">letterboxd</a> and some of my thoughts on my favorite films and games can be found in the <a href="/blog/media">blog.</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}