---
title: Resume
layout: layouts/base.njk
---

{% macro renderDetailsList(details) %}
  <ul>
    {% for detail in details %}
      {% if detail is string %}
        <li>{{ detail | safe }}</li>
      {% else %}
        {% for key, value in detail %}
          <li>
            <strong>{{ key | replace("**", "") | replace("**:", ":") | safe }}</strong>
            {% if value is iterable and value is not string %}
              {{ renderDetailsList(value) }}
            {% else %}
              {{ value }}
            {% endif %}
          </li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}

{% block head_extra %}
  <meta name="robots" content="noindex">
{% endblock %}

{# Main content block #}
{% block content %}
  <div class="resume-container">
    <header class="resume-header">
      <h1 class="display-4">{{ resume.name }}</h1>
    </header>

    <nav class="resume-nav">
      <div class="nav-sections">
        <a href="#education">Education</a>
        <a href="#experience">Experience</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#achievements">Achievements</a>
      </div>
      <button id="toggleAllSections" class="toggle-all-btn btn-sm">
        <span class="material-symbols-outlined">unfold_less</span>
        {# <span class="btn-text">Collapse All</span> #}
      </button>
    </nav>

    <section class="contact-info card mb-4 bg-body-secondary">
      <div class="card-body">
        <h2>Contact</h2>
        <div class="contact-grid">
          <div>
            <a href="https://www.google.com/maps/search/?api=1&query={{ resume.contact.address.line1 | urlencode }},{{ resume.contact.address.line2 | urlencode }}">
              {{ resume.contact.address.line1 }}<br>
              {{ resume.contact.address.line2 }}
            </a><br>
            <a href="tel:+{{ resume.contact.phone }}">{{ resume.contact.phone }}</a>
          </div>
          <div class="right">
            <a href="mailto:{{ resume.contact.email }}">{{ resume.contact.email }}</a><br>
            <a href="{{ resume.contact.links | getLink('LinkedIn') }}">{{ resume.contact.links | getShortLink('LinkedIn') }}</a><br>
            <a href="{{ resume.contact.links | getLink('GitHub') }}">{{ resume.contact.links | getShortLink('GitHub') }}</a><br>
          </div>
        </div>
      </div>
    </section>

    <details id="education" class="collapsible-section mb-2" open>
      <summary>
        <h2>Education</h2>
      </summary>
      <section class="section-content">
        {% for edu in resume.education %}
          <div class="resume-item">
            <div class="header-row">
              <h3>{{ edu.degree }}</h3>
              <span class="date">{{ edu.date }}</span>
            </div>
            <div class="subheader-row">
              <span class="organization">{{ edu.institution }}</span>
              {% if edu.GPA %}
                <span class="gpa">GPA: {{ edu.GPA }}</span>{% endif %}
            </div>
            <ul>
              {% for detail in edu.details %}
                <li>{{ detail }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </section>
    </details>

    <details id="experience" class="collapsible-section mb-2" open>
      <summary>
        <h2>Experience</h2>
      </summary>
      <section class="experience">
        {% for job in resume.experience %}
          <div class="resume-item">
            <div class="header-row">
              <h3>{{ job.title }} – {{ job.organization }}</h3>
              <span class="date">{{ job.dates }}</span>
            </div>
            <div class="job-description">
              {% if job.details %}
                {{ renderDetailsList(job.details) }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </section>
    </details>

    <details id="projects" class="collapsible-section mb-2" open>
      <summary>
        <h2>Projects</h2>
      </summary>
      <section class="projects">
        {% for project in resume.projects %}
          <div class="resume-item">
            <div class="header-row">
              <h3>{{ project.title }}</h3>
              <span class="date">{{ project.dates }}</span>
            </div>
            <div class="project-description">
              {% if project.description %}
                {{ renderDetailsList(project.description) }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </section>
    </details>

    <details id="skills" class="collapsible-section mb-2" open>
      <summary>
        <h2>Skills</h2>
      </summary>
      <section class="skills">
        <div class="skills-grid">
          {% for skillGroup in resume.skills %}
            <div class="skill-group">
              <h3>{{ skillGroup.category }}</h3>
              <ul>
                {% for item in skillGroup.items %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </section>
    </details>

    <details id="achievements" class="collapsible-section mb-2" open>
      <summary>
        <h2>Achievements</h2>
      </summary>
      <section class="achievements">
        <ul class="achievement-list">
          {% for achievement in resume.achievements %}
            <li>
              <div class="achievement-row">
                <span class="achievement-title">{{ achievement.title }}</span>
                <span class="date">{{ achievement.date }}</span>
              </div>
              <div class="achievement-description">{{ achievement.description }}</div>
            </li>
          {% endfor %}
        </ul>
      </section>
    </details>
  </div>
{% endblock %}

{% block body_scripts %}
  <script src="/assets/js/about/resume.js"></script>
{% endblock %}