---
import { Code } from "astro:components";
---

<div class="relative rounded-lg overflow-hidden my-6">
  <Code code="" class="language-{Astro.props.language}">
    <div class="absolute top-0 right-0 px-3 py-1 text-xs font-mono rounded-bl">
      {Astro.props.language}
    </div>
    <slot />
  </Code>
</div>
