---
const { href, label, extraClasses } = Astro.props;
---

<a
  href={href}
  class:list={[
    "text-primary",
    "mb-4",
    "font-sans",
    "inline-flex",
    "items-center",
    "gap-1",
    "group",
    "hover:text-primary-600",
    "dark:hover:text-primary-400",
    "transition-all",
    "transform",
    "hover:scale-105",
    "duration-200",
    "text-sm",
    extraClasses || "",
  ]}
>
  <span class="material-symbols-outlined text-base leading-none flex-shrink-0">
    arrow_back
  </span>
  <span class="hover:underline">{label}<slot /></span>
</a>
