---
title: Nathan's Home Page
layout: layouts/base.njk
---

{# {% block head_styles %}
  <link rel="stylesheet" href="/assets/css/index.css">
{% endblock %} #}

{% block content %}
  <div class="container">
    <h1>Welcome to Nathan's Personal Website</h1>
    <p>This is my personal website built with 11ty. Here I'll share my:</p>
    <ul>
      <li>Resume and personal information</li>
      <li>Blog posts</li>
      <li>Educational resources</li>
      <li>And more!</li>
    </ul>
    <p>Stay tuned as I build this site out.</p>
  </div>
{% endblock %}

